{% extends "webapp_template.html" %}
{% block content %}
<H1>{{podcast.podcast_name}}</H1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages%}
<U>{{ messages[0] }}</U><BR>
<BR>
{% endfor %}
{% endif %}
{% endwith %}
<P ALIGN = "Justified">So, you want to edit the {{podcast.podcast_name}} podcast? OK! Here we go:</P>

<FORM action = "#" method = "POST">
    <LABEL for = "name">Podcast name:</LABEL><BR>
    <INPUT type = "text" name = "podcast_name" value = "{{podcast.podcast_name}}"><BR>
    <BR>
    <LABEL for ="description">Podcast description</LABEL><BR>
    <TEXTAREA name = "podcast_description" class = "input_desc" wrap = "soft">{{podcast.podcast_description}}</TEXTAREA><BR>
    <BR>
    <BUTTON type = "submit" id ="submit">Finalise!</BUTTON>
</FORM>
<BR>
<A HREF = "{{ url_for('show_podcasts') }}">Cancel</A>

{% endblock %}