{% extends "webapp_template.html" %}
{% block content %}
<H1>{{podcast.podcast_name}} | {{episode.episode_name}}</H1>

<P ALIGN = "Justified">So, you want to edit the details held for the <I>{{episode.episode_name}}</I> from <B>{{podcast.podcast_name}}</B>? OK! Here we go:</P>

<FORM action = "{{ url_for('edit_episodes', podcast_id = podcast.podcast_id, episode_id = episode.episode_id) }}" method = "POST">
    <LABEL for = "episode_name">Episode name:</LABEL><BR>
    <INPUT type = "text" name = "episode_name" value = "{{episode.episode_name}}"><BR>
    <BR>
    <LABEL for ="episode_description">Episode description</LABEL><BR>
    <TEXTAREA name = "episode_description" class = "input_desc" wrap = "soft">{{episode.episode_description}}</TEXTAREA><BR>
    <BR>
    <LABEL for = "episode_date">Episode date (in YYYY-MM-DD format):</LABEL><BR>
    <INPUT type = "text" name = "episode_date" value = "{{episode.episode_date}}"><BR>
    <BR>
    <LABEL for = "episode_listened">'Listened' or nah?</LABEL><BR>
    <INPUT type = "text" name = "episode_listened" value = "{{episode.episode_listened}}"><BR>
    <BR>
    <BUTTON type = "submit" id ="submit">Finalise!</BUTTON>
</FORM>
<BR>
<A HREF = "{{ url_for('show_episodes', podcast_id = podcast.podcast_id) }}">Cancel</A>

{% endblock %}